<div class="login-box" style="background-color: #09c">

    <account-header></account-header>
    <div class="card">
        <div class="card-body login-card-body">
            <router-outlet></router-outlet>
        </div>
        <div class="card-footer">
            <!--<account-languages></account-languages>-->
        </div>
    </div>
    <account-footer></account-footer>
</div>
<style>
.login-page, .register-page { align-items: center; display: flex; flex-direction: column; height: 100vh; justify-content: center;  }
</style>
